@import url('https://fonts.googleapis.com/css2?family=Familjen Grotesk&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
	margin: 0;
	padding: 0;
} 

*{
    box-sizing: border-box;
    font-family: 'Familjen Grotesk';
    margin: 0;
    padding: 0;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header{
    background: #957df7;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #252434;
}
.nav-responsive{
    background-color: #fff;
    color:#957df7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: /*linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),*/ /*grandiante para el BG */
    url(img/fondo.jpg);
    background-size: cover;
    height: 112vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 40px;
    background-color: #957df7;
    max-width: 320px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 20px;
    border: 0 solid #fff;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 150%;
}
.inicio .contenido-banner h1{
    margin-top: 10px;
    font-size: 42px;
    font-family: 'Familjen Grotesk';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #252434;
}

/*SOBRE MI */

.sobremi{
    background-color: #252434;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
	color: #957df7;
    font-size: 48px;
    font-family: 'Familjen Grotesk';
    text-align: left;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
	margin-right: 8%;
}
.sobremi .contenido-seccion p span{
    color: #957df7;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}

.sobremi .fila .col h3{
	
    font-size: 28px;
    font-family: 'Familjen Grotesk';
    margin-bottom: 25px;
	color: #957df7;
	text-align: right;
	margin-right: 19%;
}

.sobremi .fila .col h4{
	margin-top: 6%;
    font-size: 28px;
    font-family: 'Familjen Grotesk';
    margin-bottom: 6%;
	color: #FFF;
	line-height: 10px;
}

.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
	 color: #957df7;
    width: 130px;
	margin-top: 1%;
}
.sobremi .fila .col ul li span{
    background-color: #957df7;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-referentes{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-referentes .referente{
	cursor: pointer;
    background-color: transparent;
	border: 2px solid #fff;
    width: 100px; 
    height: 100px;
    border-radius: 8px;
    margin: 0 15px 15px 0;
    display: flex; /*uso flex para no usar floats*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
	margin-bottom: 6%;
	
}.sobremi .fila .col .contenedor-referentes .referente:hover{
    background-color: #957df7;	
}
.sobremi .fila .col .contenedor-referentes .referente i{
    font-size: 50px;
    margin-bottom: 2px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
	border-radius: 50px;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #957df7;
    z-index: -1;
    transition: 0.4s;
	border-radius: 50px;
}
.sobremi button:hover .overlay{
    width: 100%;
	 transition: 1s;
}

/* SECCION Skills */
.skills{
    background-color: #FFF;
    color: #252434;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Familjen Grotesk';
	color: #957df7;
    text-align: center;
    padding: 20px 0 0;
	
}
.skills h3{
	font-size: 32px;
    font-family: 'Familjen Grotesk';
	color: #957df7;
}
.skills h4{
	text-align: center;
}
.skills h5{
	text-align: center;
	margin-top: 1%;
	color: #957df7;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Familjen Grotesk';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #d5d2ff;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #957df7;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #957df7;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 12.6px;
	color: #FFF;
}
/* clases de  javascript */

.skills .skill .diseno{
    width: 0%;
    animation: 2s diseno forwards;
}
@keyframes diseno {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .ilustra{
    width: 0%;
    animation: 2s ilustra forwards;
}
@keyframes ilustra {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .manufactura{
    width: 0%;
    animation: 2s manufactura forwards;
}
@keyframes manufactura  {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .grafica{
    width: 0%;
    animation: 2s grafica forwards;
}
@keyframes grafica {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .edicion{
    width: 0%;
    animation: 2s edicion forwards;
}
@keyframes edicion {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .resolucion{
    width: 0%;
    animation: 2s resolucion forwards;
}
@keyframes resolucion {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .exp{
    width: 0%;
    animation: 2s exp forwards;
}
@keyframes exp{
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .concep{
    width: 0%;
    animation: 2s concep forwards;
}
@keyframes concep {
    0%{width: 0%;}
    100%{width: 90%;}
}
/* SECCION merch */
.merch{
    background-color: #252434;
    color: #fff;
    padding: 50px 20px;
}


.merch .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.merch h2{
	color: #957df7;
    font-size: 48px;
    font-family: 'Familjen Grotesk';
    text-align: center;
    padding: 20px 0;
}
.merch .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.merch .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.merch .galeria .proyecto img{
    width: 100%;
    display: block;
}
.merch .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(149, 125, 247, 0.8), rgba(37, 36, 52, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.merch .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.merch .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.merch .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/*CARTEL*/
.cartelismo{
    background-color: #FFF;
    color: #252434;
    padding: 50px 20px;
}
.cartelismo .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.cartelismo h2{
    font-size: 48px;
	color: #957df7;
    font-family: 'Familjen Grotesk';
    text-align: center;
    padding: 20px 0;
}
.cartelismo .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cartelismo .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.cartelismo .galeria .proyecto img{
    width: 100%;
    display: block;
}
.cartelismo .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(149, 125, 247, 0.8), rgba(37, 36, 52, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.cartelismo .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.cartelismo .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.cartelismo .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION ilustracion */
.ilustracion{
    background-color: #252434;
    color: #fff;
    padding: 50px 20px;
}
.ilustracion .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.ilustracion h2{
    font-size: 48px;
	color: #957df7;
    font-family: 'Familjen Grotesk';
    text-align: center;
    padding: 20px 0;
}
.ilustracion .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ilustracion .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.ilustracion .galeria .proyecto img{
    width: 100%;
    display: block;
}
.ilustracion .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(149, 125, 247, 0.8), rgba(37, 36, 52, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.ilustracion .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.ilustracion .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.ilustracion .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
/* SECCION CONTACTO */
.contacto{
    /*background-image: url(img/contact_bg.png);
	background-size: cover;*/
    background-color: #FFF;
    color: #957df7;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Familjen Grotesk';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #FFF;
    color: #957df7;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: #957df7;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #252434;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
	background-color: #252434;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 81.5%;
    background-color:transparent;
    padding: 20px;
	text-align: left;
    max-swidth: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #252434;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #957df7;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #252434;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPUESTA */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #957df7;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .merch .fila{
        display: block;
    }
    .merch .fila .col{
        width: 90%;
    }
    .merch .fila .derecha{
        margin-left: 20px;
    }

    .ilustracion .galeria{
        display: block;
        width: 100%;
    }
    .ilustracion .galeria .proyecto{
        max-width: 100%;
    }
    .ilustracion .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}

